@media (max-width:576px) {
     /* header */

     header .left h3 {
        font-size: 15px;
        margin: 0px 0x;
        font-weight: 600;
        margin-left: 8px;
    }

    header .left h3 span i {
        font-size: 10px;
        margin: 0 2px;
    }

    header .right ul {
        display: flex;
        margin-right: 5px;
    }

    header .right ul li {
        padding: 10px 5px 15px 5px;
    }

    header .right ul li a {
        font-size: 10px;
        font-weight: 600;
    }

    /* main content */
    main .container {
        height: 80vh;
    }

    main .container .grid-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    main .container .grid-content .left-content {
        display: grid;
        align-items: center;
    }

    main .container .grid-content .left-content .innercontent {
        padding-left: 15px;
    }

    main .container .grid-content .left-content .innercontent h6 {
        color: #006989;
        font-size: 13px;
        margin-top: 15px;
    }

    main .container .grid-content .left-content .innercontent h3 {
        font-size: 35px;
        font-weight: 400;
        color: #141414;
        line-height: 40px;
    }

    main .container .grid-content .left-content .innercontent h3 span {
        font-weight: 700;
        margin: 20px 0;
    }

    main .container .grid-content .left-content .innercontent p {
        opacity: 0.6;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 13px;
    }

    main .container .grid-content .left-content .innercontent button {
        padding: 8px 13px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    main .container .grid-content .right-content {
        min-height: 85vh;
        position: relative;
    }

    main .container .grid-content .right-content img {
        position: absolute;
        width: 100%;
        height: 60%;
        object-fit: cover;
        object-position: 50% 20%;
    }

    /* section */

    section .container2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0px 50px 50px 50px;
    }

    /* icon-menu */
    section .container2 .icon-menu i {
        color: #DB162F;
        text-align: center;
        margin-bottom: 15px;
        line-height: 64px;
        width: 64px;
        height: 64px;
        font-size: 22px;
        border-radius: 50%;
        background-color: #f9e3e6;
        transition: all 0.4s;
    }

    section .container2 .icon-menu a {
        display: block;
        text-decoration: none;
        color: #141414;
        font-weight: 700;
        font-size: 18px;
    }

    section .container2 .icon-menu p {
        opacity: 0.5;
        margin-top: 10px;
        font-size: 14px;
    }

    /* gallery title */

    .gallery-title {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 0px;
        width: 90%;
        margin-top: 80px;
    }

    .gallery-title .title-content {
        margin-left: 5px;
        width: 280px;
    }

    .gallery-title .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }

    .gallery-title .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .gallery-title .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }

    /* row-gallery */

    .gallery {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 88%;
        margin: 50px;
    }

    .row-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 0px;
        width: 250px;
    }

    .row-gallery .col-gallery {
        position: relative;
    }

    .row-gallery .col-gallery .img-container {
        position: relative;
        width: 200px;
    }

    .row-gallery .col-gallery .img-container::after {
        width: 100%;
    }

    .row-gallery .col-gallery .img-container img {
        border-radius: 6px;
        width: 100%;
        height: auto;
    }

    .row-gallery .col-gallery .info {
        position: absolute;
        bottom: 7px;
        left: 7px;
        color: white;
        margin: 8px;
    }

    .row-gallery .col-gallery .info .dest {
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
    }

    .row-gallery .col-gallery .info .duration {
        font-weight: 400;
        font-size: 11px;
    }



    /* section3 */
    .section3 .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* video */
    .section3 .video-container video {
        margin: 50px 100px;
        border-radius: 12px;
        padding: 0px 400px;
    }
    
    /* short video title */
    .shortvid {
        position: relative;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    
    .shortvid .title-content {
        position: absolute;
        display: inline-block;
        width: 100%;    
    }
    
    .shortvid .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }
    
    .shortvid .title-content .left {
        width: 100%;
        margin-left: 20px;
    }
    
    .shortvid .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }
    
    .shortvid .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }
    
    .shortvid .title-content .right {
        width: 88%;
        margin-right: 50px;
        margin-left: 20px;
    }
    
    .shortvid .title-content .right p {
        font-size: 15px;
        text-align: justify;
        opacity: 0.4;
        line-height: 20px;
        padding-top: 30px ;
    }
    
    /* Booknow */
    .booknow {
        display: flex;
        flex-wrap: wrap;
        width: 92%;
        margin: 250px 0px 100px 20px;
    }
    
    .booknow .title-content {
        width: 100%;
    }
    
    .booknow .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }
    
    .booknow .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }
    
    .booknow .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }
    
    /* form */
    .booknow .form {
        width: 100%;
    }
    
    .booknow .form .form-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0px;
        gap: 20px;
        width: 100%;
    }
    
    .booknow .form .form-container .box label {
        font-weight: 600;
    }
    
    .booknow .form .form-container .box select,
    .booknow .form .form-container .box input,
    .booknow .form .form-container .box button {
        width: 90%;
        font-size: 15px;
        line-height: 25px;
        padding: 12px 12px 12px 12px;
        color: #8C8C8C;
        border-radius: 6px;
        border: 1px solid transparent;
        background: #F2F2F2;
        height: 50px;
        margin: 10px 0;
    }
    
    .booknow .form .form-container .box button {
        background-color: #006989;
        font-weight: 700;
        color: white;
    }
}
