* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #DB162F;
}

header .left h3 {
    font-size: 40px;
    margin: 14px 29px;
    font-weight: 800;
    color: white;
}

header .left h3:hover span i {
    color: #d8b02c;
}

header .left h3 span i {
    color: #F2C532;
    font-size: 32px;
    margin: 0 5px;
    transition: all 0.2s;
}

header .right ul {
    display: flex;
    margin-right: 25px;
}

header .right ul li {
    list-style: none;
    padding: 27px;
}

header .right ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s;
}

header .right ul li a:hover {
    color: #F2C532;
}

/* main content */
main .container {
    height: 100vh;
}

main .container .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

main .container .grid-content .left-content {
    display: grid;
    align-items: center;
}

main .container .grid-content .left-content .innercontent {
    padding-left: 30px;
}

main .container .grid-content .left-content .innercontent h6 {
    color: #006989;
    font-size: 18px;
    margin-bottom: 10px;
}

main .container .grid-content .left-content .innercontent h3 {
    font-size: 60px;
    font-weight: 400;
    color: #141414;
    line-height: 70px;
}

main .container .grid-content .left-content .innercontent h3 span {
    font-weight: 700;
    margin: 20px 0;
}

main .container .grid-content .left-content .innercontent p {
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 19px;
}

main .container .grid-content .left-content .innercontent button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #006989;
    border: 2px solid #006989;
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.4s;
}

main .container .grid-content .left-content .innercontent button:hover {
    background-color: #006989;
}

main .container .grid-content .left-content .innercontent button:hover a {
    color: white;
}

main .container .grid-content .left-content .innercontent button a {
    text-decoration: none;
    color: #006989;
    transition: all 0.4s;
}

main .container .grid-content .right-content {
    min-height: 100vh;
    position: relative;
}

main .container .grid-content .right-content img {
    position: absolute;
    width: 100%;
    height: 86%;
    object-fit: cover;
    object-position: 50% 10%;
}

/* section */

section .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    margin: 70px;
}

section .container2 .earth {
    display: block;
}

/* icon-menu */
section .container2 .icon-menu i {
    color: #DB162F;
    text-align: center;
    margin-bottom: 20px;
    line-height: 74px;
    width: 74px;
    height: 74px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #f9e3e6;
    transition: all 0.4s;
}

section .container2 .icon-menu:hover i {
    color: #006989;
    background-color: transparent;
}

section .container2 .icon-menu a {
    display: block;
    text-decoration: none;
    color: #141414;
    font-weight: 600;
    font-size: 20px;
}

section .container2 .icon-menu p {
    opacity: 0.5;
    margin-top: 10px;
}

/* gallery title */

.gallery-title {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 320px;
    width: 90%;
    margin-top: 200px;
}

.gallery-title .title-content {
    margin-left: 85px;
    width: 330px;
}

.gallery-title .title-content .subtitle {
    color: #006989;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    padding-left: 70px;
}

.gallery-title .title-content .subtitle::before {
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #DB162F;
    position: absolute;
    left: 2px;
    top: 50%;
}

.gallery-title .title-content .main-title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}

/* row-gallery */

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 90px;
}

.row-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 0px;
    width: 1050px;
}

.row-gallery .col-gallery {
    position: relative;
}

.row-gallery .col-gallery .img-container {
    position: relative;
    width: 330px;
}

.row-gallery .col-gallery .img-container::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.85) 100%);
    bottom: 3px;
    left: 0;
    height: 40%;
    content: " ";
    position: absolute;
    border-radius: 6px;
    width: 330px;
}

.row-gallery .col-gallery .img-container img {
    border-radius: 6px;
    width: 100%;
    height: auto;
}

.row-gallery .col-gallery .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    margin: 8px;
}

.row-gallery .col-gallery .info .dest {
    font-size: 25px;
    line-height: 40px;
}

.row-gallery .col-gallery .info .duration {
    font-weight: 400;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
}

.row-gallery .col-gallery .info .duration span {
    color: #d8b02c;
    font-weight: 700;
}

/* section3 */
.section3 .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* video */
.section3 .video-container video {
    margin: 50px 50px;
    border-radius: 10px;
    padding: 0px;
    width: 1100px;
}

/* short video title */
.shortvid {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 100px;
}

.shortvid .title-content {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.shortvid .title-content .subtitle {
    color: #006989;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    padding-left: 70px;
}

.shortvid .title-content .subtitle::before {
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #DB162F;
    position: absolute;
    left: 2px;
    top: 50%;
}

.shortvid .title-content .main-title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}

.shortvid .title-content .left {
    width: 50%;
    margin-left: 100px;
}

.shortvid .title-content .right {
    width: 50%;
    margin-right: 100px;
    margin-left: 20px;
}

.shortvid .title-content .right p {
    font-size: 18px;
    text-align: justify;
    opacity: 0.4;
}

/* Booknow */
.booknow {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 150px 0px 100px 100px;
}

.booknow .title-content {
    width: 100%;
}

.booknow .title-content .subtitle {
    color: #006989;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    padding-left: 70px;
}

.booknow .title-content .subtitle::before {
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #DB162F;
    position: absolute;
    left: 2px;
    top: 50%;
}

.booknow .title-content .main-title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}

/* form */
.booknow .form {
    width: 100%;
}

.booknow .form .form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0px;
    gap: 20px;
    width: 100%;
}

.booknow .form .form-container .box label {
    font-weight: 600;
}

.booknow .form .form-container .box select,
.booknow .form .form-container .box input,
.booknow .form .form-container .box button {
    width: 90%;
    font-size: 15px;
    line-height: 25px;
    padding: 12px 12px 12px 12px;
    color: #8C8C8C;
    border-radius: 6px;
    border: 1px solid transparent;
    background: #F2F2F2;
    height: 50px;
    margin: 10px 0;
}

.booknow .form .form-container .box button {
    background-color: #006989;
    font-weight: 700;
    color: white;
}